/* This file activates at 992px */
.navbar-brand img {
  width: 135px;
}

@media (max-width: 768px) {
  #footer-c-grid {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
  }

  #home-a1,
  #home-a2 {
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
  }

  #home-a1 > img,
  #home-a1 > div,
  #home-a2 > img,
  #home-a2 > div {
    grid-row: none;
    grid-column: none;
  }

  #home-a1 > img,
  #home-a2 > img,
  #home-a2 > div:nth-child(2) {
    display: none;
  }

  #home-a2 > div:nth-child(1) {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #home-a2 > div > ul {
    padding: 0;
  }

  #home-a2 > div > img {
    display: block;
    margin: auto;
    width: 90%;
  }
}

@media (max-width: 576px) {
  #home-a1 > div,
  #home-a2 > div:nth-child(1) {
    padding: 2rem 1rem;
    grid-template-columns: none;
    grid-template-rows: 0.3fr 1fr;
    gap: 1rem;
  }
  #home-a1 > div > img {
    width: 70%;
  }

  #home-a2 > div > img {
    grid-row-start: 1;
    width: 70%;
  }

  #home-a2 > div > ul {
    grid-row-start: 2;
  }

  #home-a1 > div > ul,
  #home-a2 > div > ul {
    margin: 0 1rem;
  }
}