/* This section activates at 992px */
.navbar-brand img {
  width: 135px;
}

#about-a > div:first-of-type,
#about-team .header,
#about-action > div:first-of-type {
  width: 100%;
}

#about-team .content {
  padding: 0;
  gap: 2rem;
}

#about-team .memberCard {
  /* width: 100%; */
  margin-top: 0;
  text-align: center;
}

#about-team .memberCardText {
  /* width: 50%; */
  margin:auto;
  padding-left: 5%;
  text-align: start;
  margin-top:2%;
}


@media screen and (max-width: 768px) {
  #footer-c .grid-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
  }

  #home-a1,
  #home-a2 {
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
  }

  #home-a1 > img,
  #home-a1 > div,
  #home-a2 > img,
  #home-a2 > div {
    grid-row: none;
    grid-column: none;
  }

  #home-a1 > img,
  #home-a2 > img,
  #home-a2 > div:nth-child(2) {
    display: none;
  }

  #home-a1 > div {
    border-radius: 1rem;
  }

  #home-a2 > div:nth-child(1) {
    border-radius: 1rem;
  }

  #home-a2 > div:nth-child(1) {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  #home-a2 > div > ul {
    padding: 0;
  }

  #home-a2 > div > img {
    display: block;
    margin: auto;
    width: 90%;
  }

  #home-b .grid-container {
    gap: 1rem;
  }
  
  #home-b .home-b-col .photo-card {
    transition: none;
  }

  #home-b .home-b-col .photo-card:hover {
    transform: none;
  }

  #about-team .content {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }

  #about-team .memberCard {
    text-align: start;
  }

  #about-team .memberCard img {
    width: 150px;
  }

  #about-team .memberCardText {
    padding: 0;
  }

}

@media screen and (max-width: 576px) {
  #home-a1 > div,
  #home-a2 > div:nth-child(1) {
    padding: 2rem 1rem;
    grid-template-columns: none;
    grid-template-rows: 0.3fr 1fr;
    gap: 1rem;
  }
  #home-a1 > div > img {
    width: 70%;
  }

  #home-a2 > div > img {
    grid-row-start: 1;
    width: 70%;
  }

  #home-a2 > div > ul {
    grid-row-start: 2;
  }

  #home-a1 > div > ul,
  #home-a2 > div > ul {
    margin: 0 1rem;
  }
  #home-b .home-b-col .photo-card {
    padding-bottom: 1rem;
  }

  #about-team .memberCardText {
    /* width: 80%; */
    margin:auto;
    /* padding-left:5%; */
    text-align: start;
    margin-top:2%;
  }
}