:root {
  --primary-color: #f9d99f;
  --primary-color-dark: #e7bc93;
  --secondary-color: #fdb9ba;
  --tertiary-color: #2f3b5c;
  --light-color: #f4f4f4;
  --medium-color: #777777;
  --dark-color: #333333;
  --max-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}


/* ===================== */
/* Utility classes */
/* ===================== */
.container-fluid {
  max-width: var(--max-width);
}

.custom-heading {
  font-family: 'Reenie Beanie', cursive;
  /* Make text un-selectable */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h1.custom-heading {
  font-size: 50px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: 600;
  border-color: var(--primary-color);
}

.btn-primary:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}


/* ===================== */
/* Navbar */
/* ===================== */
#navbar {
  color: var(--tertiary-color) !important;
  font-weight: 600;
}

.navbar-brand {
  margin: 0;
}
.navbar-brand img {
  width: 220px;
}

#navbar-items .nav-link {
  color: var(--tertiary-color) !important;
  opacity: 0.6;
}

#navbar-items .nav-link:hover {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

#navbar-items .active .nav-link {
  opacity: 1;
  border-bottom: var(--tertiary-color) 2px solid;
}

#navbar-items .navbar-nav > li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#navbar-items .dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--tertiary-color);
  opacity: 0.6;
}

#navbar .dropdown-item:hover, .dropdown-item:focus {
  opacity: 1;
  background-color: var(--light-color);
  transition: opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#navbar-items .dropdown-item.active, .dropdown-item:active {
  opacity: 1;
  text-decoration: none;
  background-color: var(--light-color);
}